[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/4iwen/glad-gl-3.3-core
	branch = master
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/4iwen/glfw
	branch = latest
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/4iwen/spdlog/
	branch = v1.x
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/4iwen/glm
	branch = master
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/4iwen/stb/
	branch = master
[submodule "deps/FastNoise2"]
	path = deps/FastNoise2
	url = https://github.com/4iwen/FastNoise2
	branch = master
